@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

*{
  font-family: Outfit;
}

select,input,textarea{
  border:1px solid #c2c2c2;
  outline-color: #16a34a;
  border-radius: 4px;
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}


.active{
  /* background-color: # */
  border-color:#16a34a;
}
